.nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--nav-size) * 0.8);
}

.nav-item-icon{
    display:flex;
    align-items: center;
    justify-content: center;
    /* @apply --flex-center; */
    background-color: var(--icon-bg-color);
    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: 50%;
    padding: .313rem;
    margin: .313rem;
}